// Administracion
$form-input-bg: rgb(222, 220, 220); // Color de fondo para inputs
$border-radius-administration: 15px; // Para bordes redondeados
$form-padding-administration: 20px;

// Tabla y Administracion
$primaryGrey-tabla-administracio: rgb(58, 58, 58);

// Inicio
$background-color-inicio: #f0f0f0;
$box-shadow-inicio: 2px 2px 10px rgba(0, 0, 0, 0.1);
$border-radius-inicio: 8px;
$padding-inicio: 20px;
$width-inicio: 40%;
$primary-color-inicio: #333;


// Login
$primary-bg-color-login: rgba(0, 0, 0, 0.8); // Fondo negro semi-transparente
$form-bg-color-login: White; // Fondo blanco para el formulario
$text-color-login: #333;
$title-text-color-login: White; // Color blanco para el título
$button-color-login: #777;
$form-width-login: 350px;
$form-padding-login: 20px;
$border-radius-login: 8px;
$input-padding-login: 10px;
$image-width-login: 150px;


// Generales
$font-family: "Arial", sans-serif;